*.rtf linguist-detectable=false
*.docx linguist-detectable=false
*.md linguist-detectable=false
*.txt linguist-detectable=false
*.html linguist-detectable=false
*.csv linguist-detectable=false
*.xlsx linguist-detectable=false
*.R linguist-detectable
*.py linguist-detectable